header {
    margin-bottom: 25px;
    .logo {
        img {
            width: 160px;
        }
    }
    .search {
        padding-top: 25px;
    }
    .tools {
        padding-top: 36px;
        .pi {
            margin-right: 5px;
        }
    }
    .nav {
        padding-top: 7px;
    }
}