header {
    margin-bottom: 25px;
    min-height: 10vh;
    .logo {
        img {
            width: 160px;
        }
    }
    .search {
        padding-top: 25px;
    }
    .tools {
        padding-top: 36px;
        .pi {
            margin-right: 5px;
            font-size: 1.4rem;
            color: var(--surface-700);
            cursor: pointer;
            &:hover {
                transform: translateY(-5px);
                transition: 0.2s;
            }
        }
    }
    .nav {
        padding-top: 7px;
    }
}