.contact-page {
    max-width: 80%;
    min-height: 300px;
    padding: 15px;
    margin-left: 100px;
    margin-bottom: 100px;
    transform: translateY(-80px);
    h1 {
        text-align: center;
        font-size: 2em;
        color: var(--surface-700);
        margin: 20px 0;
        margin-bottom: 50px;
    }
    p {
        span {
            color: $primary-color;
        }
        font-size: 1.1em;
        line-height: 1.5;
        margin: 20px 0;
        text-align: justify;
    }
    a {
        color: $primary-color;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    button {
        min-width: 150px;
        padding: 15px;
        height: 50px;
        margin-bottom: 25px;
        border: none;
        background-color: $primary-color;
        color: white;
        border-radius: 15px;
        cursor: pointer;
        &:hover {
            transition: 0.2s;
            background-color: white;
            color: $primary-color;
        }
    }
}