<header>
    <div class="grid">
        <!-- logo -->
        <div class="col-3">
            <div class="logo">
                <img src="assets/images/suPF.png" alt="logo">
            </div>
        </div>
        <!-- search bar -->
        <div class="col-3 col-offset-1 search">
            <products-search></products-search>
        </div>
        <!-- menu -->
        <div class="col-4 navigation">
            <estore-nav></estore-nav>
        </div>
        <!-- icons -->
        <div class="col-1 tools">
            <i class="pi pi-user"></i>
            <i class="pi pi-shopping-cart"></i>
        </div>
    </div>
</header>