<div class="admin-sidebar">
    <div class="logo">
        <img src="../../../assets/images/suPF.png" class="logo">
    </div>
    <div class="links">
        <ul>
            <li>
                <a routerLink="/"><i class="pi pi-home"></i>Dashboard</a>
            </li>
            <li>
                <a routerLink="/products"><i class="pi pi-briefcase"></i>Product</a>
            </li>
            <li>
                <a routerLink="/categories"><i class="pi pi-book"></i>Categories</a>
            </li>
            <li>
                <a routerLink="/orders"><i class="pi pi-shopping-cart"></i>Orders</a>
            </li>
            <li>
                <a routerLink="/users"><i class="pi pi-users"></i>Users</a>
            </li>
            <li>
                <a class="logout" routerLink="/logout" (click)="logoutUser()"><i class="pi pi-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</div>