<div class="contact-page">
    <button (click)="backToShop()"><i class="pi pi-arrow-left"></i> Continue shopping</button>
    <h1>About Us</h1>
    <p>Welcome to <span>Softuni PrimeFigures</span>, your one-stop shop for all things action figures! We are a small, family-owned business that has been operating since 2010. We pride ourselves on our excellent customer service and wide selection of high-quality
        action figures.
    </p>
    <p>Our team is passionate about action figures and collectibles, and we are always on the lookout for new and exciting products to add to our inventory. We also offer a variety of payment options and fast, reliable shipping to make your shopping experience
        as convenient as possible.</p>
    <p>If you have any questions or comments, please don't hesitate to contact us by email at
        <a href="mailto:softuniPrimeFigures@email.com">softuniPrimeFigures@email.com</a> or by phone at <a href="tel:+35989425468">+35989425468</a>. We look forward to serving you.</p>
</div>